
  <div id="header">
    <div id="left">
      <div class="mobile">
        <img src="../assets/img/menu.png" (click)="navbar.toggle()" alt="Image not loaded">
      </div>
      <div class="desktop">
        <h1>Marvin&nbsp;von&nbsp;Rappard&nbsp;&nbsp;-&nbsp;&nbsp;Portfolio</h1>
      </div>
    </div>

    <div id="right">
        <div class="mobile">
  
        </div>
        <div class="desktop">
  
        </div>
    </div>
  </div>

<mat-drawer-container [hasBackdrop]="mobileQuery.matches">

  <mat-drawer #navbar [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches">
    <app-navbar></app-navbar>
  </mat-drawer>

  <mat-drawer-content>
      <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>

