
/*
    Drawer
*/

mat-drawer {
    border-right: 1px solid lightgrey;
    height: 100%;
    padding-top: 65px;
    background-color: white;
}

mat-drawer-container {
    height: 100vh;
}

mat-drawer-content {
    width: 100%;
    padding-top: 75px;
    padding-left: 10px;
}

#header {
    z-index: 100;
    height: 60px;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #3f51b5;
}

#header {
    color: white;
}

#header #left {
    float: left;
    padding-left: 20px;
}

#header #left img {
    top: 0px;
    left: 0px;
    position: absolute;
    height: 60px;
}

/*

    Responsive design

*/

.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 1024px) {


    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }

}
