/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*

    Font

*/

h1 {
    font-weight: 300;
    font-size: 1.6em;
}
