<ul>
  <a routerLink="/">
    <li>
      <img src="../../assets/img/home.png" alt="Image not loaded">
      <div class="listContainer">
          Home
      </div>
    </li>
  </a>
  <a routerLink="/projects">
    <li>
      <img src="../../assets/img/projects.png" alt="Image not loaded">
      <div class="listContainer">
          Projects
      </div>
    </li>
  </a>
  <a routerLink="/contact">
    <li>
      <img src="../../assets/img/contact.png" alt="Image not loaded">
      <div class="listContainer">
          Contact
      </div>
    </li>
  </a>
</ul>
