ul li img {
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

ul li {
    display: flex;
    padding: 10px 40px 10px 25px;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: black;
    font-size: 1.25em;
    font-weight: 300;
}

ul li:hover {
    background-color: #f2f2f2;
    transition: background-color 0.5s;
}

.listContainer {
    display: flex;
    align-items: center;
}
